
.sub_heading{
    padding-left: 10px;
    padding-bottom: 10px;
}
.sub_heading h3{
    font-size: 1.2rem;
    font-weight:700;
}

.heading__details{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

@media(max-width:1000px){
    .aboutus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}