
.row h5{
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.para{
    color: hsla(0, 0%, 100%, 0.502);
    text-align: left;
    max-width: 70%;
}
.row li{
    text-align: left;
    align-items: left;
    justify-content: left;
}

.row li a{
    color: #ffffff80;
    text-decoration: none;
    line-height: 2rem;
}

#social_icons{
    display: flex;
}

#social_icons span{
    background-color: #f85a40;
    border-radius: 50%;
    margin: .1rem;
    padding-left: .5rem;
    text-align: center;
    width: 30px;
    height: 30px;
}

.social_icon{
    color: #fff;
    font-size: .9rem;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
}