
.row h5{
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
}
.para{
    color: hsla(0, 0%, 100%, 0.502);
    text-align: left;
    max-width: 70%;
}
.row li{
    text-align: left;
    align-items: left;
    justify-content: left;
}

.row li a{
    color: #ffffff80;
    text-decoration: none;
    line-height: 2rem;
}

#social_icons{
    display: flex;
}

#social_icons span{
    background-color: #f85a40;
    border-radius: 50%;
    margin: .2rem;
    padding: .3rem;
    padding-bottom: .4rem;
}

.social_icon{
    color: #fff;
    width: 20px;
    font-size: .8rem;
    cursor: pointer;
    text-align: center;
}