.myGreen {
  background-color: #008374;
  height: 80px;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}

.dropdown-1 {
  z-index: 1;
  top: 100%;
  width: 150%;
  padding: 20px 0;
  color: black;
  background-color: white;
  position: absolute;
  display: none;
}

.dropdown:hover > ul {
  display: block;
}

.dropdown-1 > li:hover {
  color: #f65a40;
}

.dropdown-2 {
  z-index: 1;
  top: 0%;
  left: 100%;
  width: 100%;
  padding: 20px 30px;
  color: black;
  background-color: white;
  position: absolute;
  display: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dropdown-1 > li:nth-child(2):hover > .dropdown-2 {
  display: block;
}

.dropdown-2 > li:hover {
  color: #f65a40;
}

.menu{
  padding-top: 10px;
}
#menu {
  padding-left: 20px;
}

@media (max-width: 1000px) {
  #menus {
    display: none;
  }
}
