.section {
  padding-top: 120px;
}

.left__section p {
  line-height: 1.5rem;
}

.left__section h2 {
  font-size: 30px;
  font-weight: bold;
}

.btttn {
  background-color: #f85a40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.row {
  padding-top: 40px;
}
.box-col {
  display: flex;
  flex-direction: row;
}
.box_info {
  padding-left: 10px;
}
@media (max-width: 1000px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}
